/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



.fullh {
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
  max-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  max-height: calc(var(--vh, 1vh) * 100);
}

.wave {
  bottom: -1;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.wave .shape-fill {
  fill: #FFFFFF;
}

body {
  background: linear-gradient(0deg, #00CC99 -10.09%, #6600FF 137.32%);
}